/*@font-face {*/
/*    font-family: 'latoregular';*/
/*    src: url('lato-regular-webfont.woff2') format('woff2'),*/
/*    url('fonts/lato-regular-webfont.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

body {
    padding: 0 23px;
}

/*----------header section start-----------*/

header {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 28px;
    border-bottom: 1px solid #e5e5e5;
}

.header_logo {
    margin-right: 58px;
}

.header_logo p {
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: lighter;
    font-size: 13px;
    background-color: black;
}

header ul li {
    display: inline;
    margin-right: 52px;
}

.header_right_section {
    display: flex;
}

.header_right_section_search input {
    display: none;
}

.header_right_section_search img {
    padding: 12px;
    border: 1px solid grey;
    margin-right: 39px;
}

.header_right_section_basket {
    display: flex;
    align-items: center;
}

.header_right_section_basket img {
    margin-right: 10px;
}

/*---------- header section end ------------*/

/*-----------main section start ------------*/
main {
    font-family: 'Lato', sans-serif;
    padding: 0 75px 62px 136px;
}

main h1 {
    font-size: 69px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    margin-bottom: 22px;
}

main h4 {
    font-size: 24px;
    font-weight: normal;
    font-family: Georgia, Serif;
    color: rgb(96, 96, 96);
    font-style: italic;
    text-align: center;
    margin-bottom: 72px;
}

.main_info {
    height: 540px;
    text-align: center;
    padding-top: 145px;
}

.main_info_button button {
    width: 230px;
    height: 58px;
    border: 1px solid grey;
    background-color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 auto;
}

.main_info_button button:hover {
    background-color: #e5e5e5;
}

.main_photo img {
    width: 294px;
    height: 295px;
    filter: brightness(60%);
    margin-top: -4px;
}

.main_photo img:hover {
    filter: sepia(0.2);
}

.main_photo {
    position: relative;
}

.main_photo_text p {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-family: Georgia, Serif;
    /*frfrf*/
}

.main_photo_text {
    width: 95%;
    position: absolute;
    top: 100px;
    color: white;
}

.main_photos {
    text-align: center;
}

.main_photos_wrapper {
    display: inline-block;
    margin: 0 auto 137px;
    width: 90%;
}

.main_photo {
    float: left;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px;
}

.main_email_form {
    display: flex;
    justify-content: center;
}

.main_email_form input {
    width: 474px;
    height: 32px;
    padding: 10px 20px;
    font-style: italic;
    font-size: 11px;
    color: grey;
    border: 1px solid grey;
}

.main_email_form button {
    height: 54px;
    width: 94px;
    font-size: 14px;
    background-color: #f68236;
    border: 1px solid #f68236;
    color: white;
    margin-bottom: 135px
}

.main_email_form button:hover {
    background-color: #e67429;
}

/*-------------- main section end ----------*/

/*-------------- footer styles --------------- */

footer {
    display: flex;
    padding: 10px 45px;
    font-family: Lato, sans-serif;
    margin-bottom: 60px;
}

.footer_section {
    padding-right: 30px;
    border-right: 1px solid #e5e5e5;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 380px;
}

.footer_section:last-child {
    border-right: none;
}

footer a {
    color: #303030;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    margin-bottom: 10px;
}

footer h4 {
    font-size: 14px;
    color: #303030;
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

footer p {
    line-height: 20px;
    width: 260px;
    margin-bottom: 10px;
}

.footer_social img {
    padding: 10px 12px;
    border: 1px solid #606060;
}

.footer_social img:first-child {
    padding: 11px 11px;
}

.footer_social img:nth-child(2) {
    padding: 10px 13px;
}

/*-------- footer section end -----------*/

/* ----------- category page ------------*/

.page_info {
    font-size: 12px;
    color: rgb(96, 96, 96);
    text-transform: uppercase;
    margin-bottom: 70px;
}

.product img {
    width: 208px;
    height: 257px;
    margin-bottom: 35px;
    /*border: 1px solid #a3a3a3;*/
}

.product_section h2 {
    margin-bottom: 100px;
}

.products_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 22px;
}

.product {
    text-align: center;
    width: 210px;
}

.product h6 {
    font-size: 14px;
    color: #303030;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.product p {
    font-size: 14px;
    color: #303030;
    text-align: center;
}

.slider-text {
    font-size: 24px;
    font-family: "Georgia", Serif;
    color: rgb(96, 96, 96);
    font-style: italic;
    text-align: center;
}


