/*@font-face {*/
/*    font-family: 'latoregular';*/
/*    src: url('lato-regular-webfont.woff2') format('woff2'),*/
/*    url('fonts/lato-regular-webfont.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

/*---------- home page start  -----------*/
html {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Lato', sans-serif;
    /*добавляет прокрутку горизонтальную*/
    /*padding: 0 23px;*/
    max-width: 1240px;
}

header {
    height: 115px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 28px;
    border-bottom: 1px solid #e5e5e5;
}

.header_left_section {
    display: flex;
    align-items: center;
}

.header_logo {
    margin-right: 60px;
}

.header_right_section {
    display: flex;
}

header li {
    margin-right: 53px;
}

header li:hover {
    text-decoration: underline;
}

.header_search_section {
    display: flex;
    margin-right: 38px;
}

.header_search_section img {
    padding: 10px 12px;
    border: 1px solid grey;
}

.header_search_section input {
    font-size: 12px;
    font-style: italic;
    color: #a3a3a3;
    padding-left: 10px;
    border: 1px solid #606060;
    height: 36px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: inherit;
}

.active {
    background-color: darkgrey;
    filter: invert(1);
}

.header_basket_section {
    display: flex;
    align-items: center;
}

.header_logo p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    background-color: black;
    font-size: 13px;
    color: white;
    font-weight: lighter;
}

header ul {
    display: flex;
    flex-direction: row;
}

main {
    font-family: 'Lato', sans-serif;
    padding: 0 42px 62px 45px;
}

main h1 {
    font-size: 69px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    margin-bottom: 22px;
}

main h4 {
    font-size: 24px;
    font-weight: normal;
    color: rgb(96, 96, 96);
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    margin-bottom: 72px;
}

.main_info {
    height: 540px;
    text-align: center;
    padding-top: 145px;
}

.main_info_button button {
    width: 230px;
    height: 58px;
    border: 1px solid grey;
    background-color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 auto;
}

.main_info_button button:hover {
    background-color: #e5e5e5;
}

.main_photo img {
    width: 275px;
    height: 285px;
    filter: brightness(60%);
    margin-top: -4px;
}

.main_photo img:hover {
    filter: sepia(0.2);
}

.main_photo {
    position: relative;
}

.main_photo_text p {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-family: Georgia, serif;
}

.main_photo_text {
    width: 95%;
    position: absolute;
    top: 100px;
    color: white;
}

.main_photos {
    text-align: center;
}

.main_photos_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 138px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px;
}

.main_email_form {
    display: flex;
    justify-content: center;
}

.main_email_form input {
    width: 474px;
    height: 32px;
    padding: 10px 20px;
    font-style: italic;
    font-size: 11px;
    color: grey;
    border: 1px solid grey;
}

.main_email_form button {
    height: 54px;
    width: 94px;
    font-size: 14px;
    background-color: #f68236;
    border: 1px solid #f68236;
    color: white;
    margin-bottom: 135px
}

.main_email_form button:hover {
    background-color: #e67429;
}

footer {
    display: flex;
    padding: 10px 45px;
    font-family: Lato, sans-serif;
}

.footer_section,
.footer_section_social {
    padding-right: 30px;
    border-right: 1px solid #e5e5e5;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 380px;
}

.footer_section:last-child {
    border-right: none;
}

footer a {
    color: #303030;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    margin-bottom: 10px;
}

footer h4 {
    font-size: 14px;
    color: #303030;
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}

footer p {
    line-height: 20px;
    width: 260px;
    margin-bottom: 10px;
}

.footer_social img {
    padding: 10px 12px;
    border: 1px solid #606060;
}

.footer_social img:first-child {
    padding: 11px 11px;
}

.footer_social img:nth-child(2) {
    padding: 10px 13px;
}

/*-------- home page end -----------*/

/* ----------- category page start ------------*/

.page_info {
    font-size: 12px;
    color: rgb(96, 96, 96);
    text-transform: uppercase;
    margin-bottom: 70px;
}

.product {
    width: 235px;
}

.product img {
    width: 208px;
    height: 257px;
    margin-bottom: 35px;
    /*border: 1px solid #a3a3a3;*/
}

.product_section h2 {
    margin-bottom: 100px;
}

.products_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 22px;
}

.product {
    text-align: center;
    width: 210px;
}

.product h6 {
    font-size: 14px;
    color: #303030;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.product p {
    font-size: 14px;
    color: #303030;
    text-align: center;
}

.slider-text {
    font-size: 24px;
    font-family: Georgia, serif;
    color: rgb(96, 96, 96);
    font-style: italic;
    text-align: center;
}

/* ----------- category page end  ------------*/

/* ---------- product-detail start ------------ */

.main_product {
    margin-bottom: 80px;
    margin-right: 20px;
}

.main_product_photo img {
    width: 800px;
    height: 570px;
}

.main_product_extra_photos {
    display: flex;
    flex-direction: column;
}

.main_product_extra_photos img {
    width: 75px;
    height: 84px;
    border: 1px solid #a3a3a3;
    margin-bottom: 12px;
}

.main_product_article {
    font-style: italic;
    font-size: 18px;
    color: #a3a3a3;
    text-align: center;
    margin-bottom: 25px;
}

.main_product_price {
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, serif;
    color: #606060;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.main_product_description {
    color: #606060;
    display: flex;
    text-align: center;
    margin-bottom: 37px;
}

.main_product_size p {
    text-align: center;
    font-size: 14px;
    color: #606060;
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.main_product_sizes {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main_product_sizes button {
    padding: 10px 12px;
    border: 1px solid #a3a3a3;
    background-color: white;
    margin-right: 15px;
}

.main_product_sizes button:hover {
    background-color: #e5e5e5;
}

.main_product_button {
    display: flex;
    justify-content: center;
}

.main_product_button button {
    width: 230px;
    height: 58px;
    color: white;
    background-color: #f68236;
    border: none;
    text-transform: uppercase;
    text-align: center;
}

.main_product_button button:hover {
    background-color: #e67429;
}

.main_product_wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 70px;
}

/* ---------- product-detail start ------------ */

/* -----------shopping bag section start -----------*/

.shopping_bag_text {
    margin-bottom: 100px;
}

.shopping_bag_text h2 {
    margin-bottom: 7px;
}

.shopping_bag_text h4 {
    font-size: 18px;
}

.table_header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #a3a3a3;
}

.table_header p {
    font-size: 12px;
    color: #a3a3a3;
    text-transform: uppercase;
    text-align: left;
}

.table_header p:nth-child(2) {
    flex-basis: 37%;
}

.product_in_cart {
    display: flex;
    height: 137px;
    align-items: center;
    border-bottom: 1px solid #a3a3a3;
}


.product_in_cart_description {
    flex-basis: 50%;
}

.product_in_cart_description h3 {
    text-transform: uppercase;
}

.product_in_cart_text {
    display: flex;
    width: 84vw;
}

.product_in_cart_properties {
    display: flex;
    justify-content: space-between;
    flex-basis: 48%;
    margin-right: 10px;
}

.product_in_cart_properties button {
    border: none;
    background-color: white;
    align-self: baseline;
    font-weight: bold;
}

.product_in_cart_img img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-right: 35px;
}

/*-------------shopping bag section end -----------*/

/* ---------thank you start -------------*/

.order {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------thank you end -------------*/

/*make footer sticky to the bottom*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

/*slider style*/

.slider {
    position: relative;
    overflow: hidden;
}

.slider_wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider_item {
    flex: 0 0 0 50%;
}
/*max-width: 50%;
width: 200px;
height: 120px;


 */
.slider_item img {
    width: 200px;
    height: 120px;
}

.slider_control {
    position: absolute;
    display: flex;
    top: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 100%;
    opacity: .8;
    background-color: #e5e5e5;
}


.slider_control:hover,
.slider_control:focus {
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider_control_left {
    left: 0;
}

.slider_control_right {
    right: 0;
}

.slider_control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider_control_left::before {
    background-image: url("../img/icons/slider_left_arrow.png");
}

.slider_control_right::before {
    background-image: url("../img/icons/slider_right_arrow.png");
}




